
<!--<div class="login-page">
  <div class="centerit">
    <div>
      <div>
        <div *ngIf="error" class="message">Registro erroneo</div>
        <div *ngIf="error_email_repetido" class="message">Email repetido</div>
        <div *ngIf="error_nombre_repetido" class="message">Nombre de usuario ya existente</div>
          <form (ngSubmit)="onSubmit()" >
            <div class="form-container">
              <h1>Crea una cuenta</h1>

              <div class="form-row">
                <input type="text" [(ngModel)]="model.nombre" required name="nombre" placeholder="Introduce un nombre de usuario">
              </div>

              <div class="form-row">
                <input type="email" [(ngModel)]="model.email" required name="email" placeholder="Introduce tu email">
              </div>

              <div class="form-row">
                <input type="password" [(ngModel)]="model.password" required name="password" placeholder="Introduce tu contraseña">
              </div>
              <div>
				<span class="chk_datos">  <input class="" type="checkbox" name="chk_datos" required> </span><span class="txt_datos" (click)="OnClickDetail('')"> Acepto cesión de datos </span>
		  	  </div>
              <div class="form-row">
                <button *ngIf="! submitted" type="submit" class="">Crear cuenta</button>
              </div>
            </div>
          </form>
          <div class="create-account">
            <a routerLink="/form-login" routerLinkActive="active">Ir iniciar sesion</a>
          </div>
      </div>
    </div>
  </div>
</div>-->
<!-- <app-popup-register #app_popup_register></app-popup-register>  -->

<div class="login-page">
  <div class="form">
    <form class="login-form" (ngSubmit)="onSubmit()">
      <input type="email" [(ngModel)]="model.email" required name="email" placeholder="email"/>
      <input type="text" [(ngModel)]="model.nombre" required name="nombre" placeholder="user name">
      <input type="password"  [(ngModel)]="model.password"required name="password" placeholder="password"/>
      <button *ngIf="! submitted" type="submit" class="">register</button>
      <p class="message">Back to login <a (click)="applicationDataService.click_menu('form-login')">Sign In</a></p>
      <p class="message">Forgot password? <a (click)="applicationDataService.click_menu('form-remember')">Remember</a></p>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
