<div class="form overlay" id="crear-hilo"  *ngIf="hilo_abierto">
  <form class="login-form" (ngSubmit)="onSubmit()">
    <input type="text" [(ngModel)]="model.titulo" required name="tittle" placeholder="tittle"/>
    <input type="text"  [(ngModel)]="model.comentario"required name="comment" placeholder="descripction"/>
    <div class="select select-file">
      <input  (change)="onAppFotosChange($event)" type="file" ng2FileSelect [uploader]="uploader"/>
    </div>
    <button *ngIf="!submitted2" type="submit" class="">publish</button>
  </form>
</div>
<router-outlet></router-outlet>


