body {
  background: #f2f2f2;
/ /
fallback for old browsers background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  /* background: linear-gradient(to left, #76b852, #8DC26F); */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*LOGIN REMEMBER REGISTER*/
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
  cursor: pointer;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 600px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

#check_usuario span{width: 20%;display: inline-grid;margin-right: 25%;}

#check_usuario{width: 20%;margin-top: 2%;}

#chk_datos{
  position: relative;
}

/*HOME*/
.home{
  width: 100%;
}
.titulo-home{
  font-size: 26px;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  /* max-width: 360px; */
  margin: 4% 0;
  width: 108%;
  padding: 2% 3%;
  text-align: center;
  white-space: nowrap;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.titulo-home p{
  display: -webkit-inline-box;
  margin: 0%;
}

#nombre-home{font-size: 37px;color: #4caf50;}

.img_muro_list{width: 100%;}

.comentario_list{

}
.muro{
  width: 150%;
  margin-left: -25%;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin-bottom: 10%;
}

.muro-options{

}

.muro-options p{

}

.muro-options div.selected{
  border: #4caf50;
  border-width: thick;
  border-style: outset;
}

.muro-fecha{white-space: nowrap;/* margin-right: 109%; */}

.table-cell.muro-actions{

}
.muro-actions i{margin-right: 13px;/* display: block; */}

.muro-actions span{margin-top: 70%;display: inherit;}

.muro-actions i.green{
  color: #4CAF50;
}
.single-actions i.green{
  color: #4CAF50;
}
/*CREAR HILO*/
#abrir_h{
  position: fixed;
  left: 94%;
  top: 64%;
  z-index: 99;
  float: right;
  width: 12%;
}

#cerrar_h{
  position: fixed;
  left: 94%;
  top: 64%;
  z-index: 99;
  float: right;
  width: 12%;
}

.crear-hilo i{

}

/*FANCY*/
/*.fancy-modal{
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.fancy-modal.printing{
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.fancy-modal .close-fancy{
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 99999;
  display: block;
  color: #2c3e50;
  opacity: 1;
  font-size: 22px;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  padding: 6px;
}

.fancy-modal.active{
  top: 0px;
  z-index: 99;
}
.fancy-modal > div{
  display: table;
  width: 80%;
  height: 100%;
  margin: 0px auto;
  position: relative;
  margin-top: 50px;
}
.fancy-modal > div > div{
  width: 100%;
  margin: 0px auto;
  background: white;
  display: block;
  padding: 40px 50px;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 1px 8px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 1px 8px 0px rgba(152, 152, 152, 0.75);
  max-height: calc((90)/1);
  max-height: -moz-calc((90vh)/1);
  max-height: -webkit-calc((90vh)/1);
  max-height: -ms-calc((90vh)/1);
  position: relative;
  overflow-y:auto;
}

.fancy-modal.printing > div{
  width: 1270px;
  margin-top:0;
}

.fancy-modal.printing > div > div{
  position: absolute;
  height: 100%;
  min-height: 100%;
}
.fancy-modal > div > div::before{
  content:"";
  position:absolute;
  width:100%;
  height: 0%;
  background: #2c3e50;
  top:0;
  left:0;
  z-index: 999;
  opacity: 0;
}
.fancy-modal.printing > div > div::before{
  content:"";
  position:absolute;
  width:100%;
  height: 100%;
  background: #2c3e50;
  top:0;
  left:0;
  z-index:99;

  -moz-animation: upBack 1500ms forwards;

  -o-animation: upBack 1500ms forwards;

  animation: upBack 1500ms forwards;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fancy-modal > div > div::after{
  opacity: 1;
  z-index: 99999;
}
.fancy-modal.printing > div > div::after{
  content: "Generando PDF";
  position: fixed;
  top: 40%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 64px;
  z-index: 999999;
  color: white;
  padding: 50px 0;
  -webkit-animation: fadIn 1500ms forwards;
  -moz-animation: fadIn 1500ms forwards;
  -o-animation: fadIn 1500ms forwards;
  animation: fadIn 1500ms forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes upBack {
  0% {
    height: 0%;
    opacity: 0;
  }

  50% {
    height: 100%;
    opacity: 1;

  }
  100% {

    height: 0%;
    opacity: 0;

  }
}
@-moz-keyframes upBack {
  0% {
    height: 0%;
    opacity: 0;
  }

  50% {
    height: 100%;
    opacity: 1;

  }
  100% {

    height: 0%;
    opacity: 0;

  }


}
@-o-keyframes upBack {
  0% {
    height: 0%;
    opacity: 0;
  }

  50% {
    height: 100%;
    opacity: 1;

  }
  100% {

    height: 0%;
    opacity: 0;

  }


}
@keyframes upBack {
  0% {
    height: 0%;
    opacity: 0;
  }

  50% {
    height: 100%;
    opacity: 1;

  }
  100% {

    height: 0%;
    opacity: 0;

  }


}

@-webkit-keyframes fadIn {
  0% {
    font-size: 0px;
    opacity: 0;
  }

  50% {
    font-size: 64px;
    opacity: 1;
  }
  100% {
    font-size: 0px;
    opacity: 0;
  }
}
@-moz-keyframes fadIn {
  0% {
    font-size: 0px;
    opacity: 0;
  }

  50% {
    font-size: 64px;
    opacity: 1;
  }
  100% {
    font-size: 0px;
    opacity: 0;
  }
}
@-o-keyframes fadIn {
  0% {
    font-size: 0px;
    opacity: 0;
  }

  50% {
    font-size: 64px;
    opacity: 1;
  }
  100% {
    font-size: 0px;
    opacity: 0;
  }
}
@keyframes fadIn {
  0% {
    font-size: 0px;
    opacity: 0;
  }

  50% {
    font-size: 64px;
    opacity: 1;
  }
  100% {
    font-size: 0px;
    opacity: 0;
  }
}


.fancy-modal > div > div.deactivated{
  height:auto;
}

.fancy-modal h2{
  margin-top:0
}

.fancy-modal.printing .close-fancy, .fancy-modal.printing .btn{
  display: none;
}*/


/*PROFILE*/
.card {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.card .card-heading {
  padding: 0 auto;
  margin: 0;
}

.card .card-heading.simple {
  font-size: 20px;
  font-weight: 300;
  color: #777;
  border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 15px;
  vertical-align: top;
  border: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
  display: inline-block;
  vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
}

.card .card-heading.image .card-heading-header span {
  font-size: 12px;
  color: #999999;
}

.card .card-body {
  padding: 0 20px;
  margin-top: 20px;
}

.card .card-media {
  padding: 0 20px;
  margin: 0 -14px;
}

.card .card-media img {
  max-width: 100%;
  max-height: 100%;
}

.card .card-actions {
  min-height: 30px;
  padding: 0 20px 20px 20px;
  margin: 20px 0 0 0;
}

.card .card-comments {
  padding: 20px;
  margin: 0;
  background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
  padding: 0;
  margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
  padding-right: 5px;
  overflow: hidden;
  font-size: 12px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-comments .media-heading {
  font-size: 13px;
  font-weight: bold;
}

.card.people {
  position: relative;
  display: inline-block;
  width: 170px;
  height: 300px;
  padding-top: 0;
  margin-left: 20px;
  overflow: hidden;
  vertical-align: top;
}

.card.people:first-child {
  margin-left: 0;
}

.card.people .card-top {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 170px;
  height: 150px;
  background-color: #ffffff;
}

.card.people .card-top.green {
  background-color: #53a93f;
}

.card.people .card-top.blue {
  background-color: #427fed;
}

.card.people .card-info {
  position: absolute;
  top: 150px;
  display: inline-block;
  width: 100%;
  height: 101px;
  overflow: hidden;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.people .card-info .title {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #404040;
}

.card.people .card-info .desc {
  display: block;
  margin: 8px 14px 0 14px;
  overflow: hidden;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.people .card-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  line-height: 29px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
  padding: 0;
}

.card.hovercard .cardheader {
  background-color: #4CAF50;
  background-size: cover;
  height: 135px;
}

.card.hovercard .avatar {
  position: relative;
  top: -112px;
  margin-bottom: -50px;
}

.card.hovercard .avatar img {
  /* width: 150px; */
  /* height: 150px; */
  /* max-width: 100px; */
  /* max-height: 100px; */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.5);
  width: 50%;
}

.card.hovercard .info {
  /* padding: 4px 8px 10px; */
  margin-top: -20%;
}

.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.card.hovercard .info .desc {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}

.btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }

.nombre-profile{font-size: 22px;color: #43a047;}
.bio-profile{width: 82%;margin: auto;}
.edit-profile-picture{
  display: block;
  margin: auto;
}

.backto{
  display: block;
  background-color: #4caf50;
  float: left;
  padding: 1%;
  margin: 0%;
  color: white;
}
.single-component{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 550px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.single-actions span{

}
.single-actions{

}

.nombre-profile{font-size: 22px;color: #43a047;}
.bio-profile{width: 82%;margin: auto;}
.edit-profile-picture{
  display: block;
  margin: auto;
}

.backto{
  display: block;
  background-color: #4caf50;
  float: left;
  padding: 1%;
  margin: 0%;
  color: white;
}
.single-component{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 550px;
  margin: 0 auto 100px;
  padding: 0 2% 0 2%;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.single-actions span{

}
.single-actions{

}

.imagen-single{/* margin-bottom: 2%; */width: 100%;/* border: #4caf50; *//* border-style: solid; */margin-bottom: 1%;}
.imagen-single img{
  border: #4caf50; */
border-style: solid;
  border-style: solid;
}


.container.single{
  display: initial;
}

.comentario-single{
  margin-top: 0%;
  border: #4caf50;
  border-style: solid;
  background-color: #f1f1f1;
  padding: 3%;
}

.comentario-single {}

.main-title{
  width: 40%;
  margin: 0% auto 2%;
  position: relative;
  z-index: 1;
  background: #f1f1f1;
  text-align: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}
.comentarios-title{

}

.comentarios-title h2{margin-bottom: -10px;display: block;}

.coment p{margin-bottom: 0;}
.coment{

}

.list-coments{

}

.user-name{
  font-size: 13px;
  color: #4caf50;
  border-bottom: rgba(118, 184, 82, 0.21);
  border-bottom-style: inset;
  width: 18%;
  margin: auto;
}

.bottom-profile{

}
.line-coment{border-bottom: #4caf50;border-bottom-style: inset;width: 26%;margin: 2% auto;}

.count-likes{
  padding-right: 32%;
}
