<div class="home">
      <div class="titulo-home">
        <div>Welcome <p id="nombre-home" (click)="onclick()">{{applicationDataService.usuario_logado.nombre}}</p></div>
      </div>

      <div class="muro">
        <div class="row" class="muro-options">
          <div class="col-md-6 col-sm-6" (click)="seeAllPost()" [ngClass]='{"selected": this.friends_post == false}'>
            <p>Community Posts</p>
          </div>
          <div class="col-md-6 col-sm-6" (click)="seeFriendsPost()" [ngClass]='{"selected": this.friends_post == true}'>
            <p>Friends Posts</p>
          </div>
        </div>
          <div class="table" *ngIf="data_loaded">
            <div class="table-row table-header">
              <div class="table-cell"> tittle </div>
              <div class="table-cell"> user   </div>
              <div class="table-cell"> files  </div>
              <div class="table-cell"> Added on  </div>
              <div class="table-cell"> Actions  </div>
            </div>

            <div class="table-row" *ngFor="let model of hilos_publicos_array" (click)="onDetail(model)">
              <div class="table-cell"> {{model.titulo}} </div>
              <div class="table-cell"> {{model.nombre_usuario}} </div>
              <div class="table-cell"> <img class="img_muro_list" *ngIf="model.archivo != null" src="{{this.applicationDataService.ruta_a_servidor}}/images/uploads/{{model.archivo}}"> </div>
              <div class="table-cell muro-fecha"> {{model.fecha_publicacion}} </div>
              <div class="table-cell muro-actions">
                <span><p class="count-likes">{{model.count_likes}}</p></span>
                <span class="like">
                  <i class="fa fa-heart" (click)="like(model)" [ngClass]='{"active":applicationDataService.likes[model.id_hilo] != null}'></i>
                </span>
                <span><i class="ti-comment"></i></span>
                <span><i class="ti-sharethis"></i></span>
                <span *ngIf="this.applicationDataService.usuario_logado.id_usuario== model.id_usuario"><i class="ti-trash green" (click)="onClickBorrar(model)"></i></span>
                <span *ngIf="this.applicationDataService.usuario_logado.id_usuario == model.id_usuario"><i class="ti-pin-alt green"></i></span>
              </div>
            </div>
          </div>

      </div>
</div>


<div class="crear-hilo">
  <div id="abrir_h">
    <i class="fa fa-plus-circle fa-4x" (click)=onclickCrearHilo() *ngIf="!this.formHiloComponent.hilo_abierto"></i>
  </div>
  <div id="cerrar_h">
    <i class="fa fa-minus-circle fa-4x" (click)=onclickCerrarCrearHilo() *ngIf="this.formHiloComponent.hilo_abierto"></i>
  </div>
</div>

<app-single #app_single></app-single>
<form-hilo #form_hilo hilo_abierto="hilo_abierto"></form-hilo>
<!--<div class="fancy-modal" id="">
	<div>
		<span class="close-fancy"><i class="ti-close"></i></span>
		<div>

		</div>
	</div>
</div>-->



<router-outlet></router-outlet>

