<!--<div class="login-page" *ngIf="visible">
  <div class="centerit">
      <div>
        <div *ngIf="error" class="message">Usuario o contraseña incorrectos</div>
          <form (ngSubmit)="onSubmit()" >
              <div class="form-container">
                <h1>LOGIN</h1>
                  <div class="form-row">
                    <input type="email" [(ngModel)]="model.email" required name="email" placeholder="Correo">
                  </div>
                  <div class="form-row">
                    <input type="password" [(ngModel)]="model.password"required name="password" placeholder="Contraseña">
                  </div>
                  <div>
                      <span class="chk_datos">  <input class="chk_recordar_usuario" type="checkbox" name="chk_recordar_usuario"> </span><span class="txt_datos" > Recordar usuario </span>
                  </div>
                  <div class="form-row">
                    <button *ngIf="! submitted" type="submit" class="">INICIAR SESION</button>
                  </div>
              </div>
          </form>
          <div class="remember-pass">
            <a routerLink="/form-remember" routerLinkActive="active">He olvidado mi contraseña</a>
          </div>
          <div class="create-account">
        	 <a routerLink="/form-register" routerLinkActive="active">Crear cuenta</a>
          </div>

      </div>
   </div>
 </div>-->

<div class="login-page">
  <div class="form">
    <form class="login-form" (ngSubmit)="onSubmit()">
      <input type="email" [(ngModel)]="model.email" required name="email" placeholder="email"/>
      <input type="password"  [(ngModel)]="model.password"required name="password" placeholder="password"/>
      <button *ngIf="! submitted" type="submit" class="">Login</button>
      <div id="check_usuario">
        <span id="chk_datos"> <input class="chk_recordar_usuario" type="checkbox" name="chk_recordar_usuario"> </span><span class="message"> ¿Autologin? </span>
      </div>
      <p class="message">Not registered? <a (click)="applicationDataService.click_menu('form-register')">Create an account</a></p>
      <p class="message">Forgot password? <a (click)="applicationDataService.click_menu('form-remember')">Remember</a></p>
    </form>
  </div>
</div>



<router-outlet></router-outlet>
