


      <div class="card hovercard">
        <div class="cardheader">

        </div>
        <div class="avatar">
          <img alt="" src="{{this.applicationDataService.ruta_a_servidor}}/images/uploads/{{this.applicationDataService.usuario_logado.imagen_perfil}}">
          <a class="edit-profile-picture" (click)="editProfilePicture()" id="edit-profile-picture">
            <i class="fa fa-upload "></i>
          </a>
        </div>
        <div class="info">
          <div class="nombre-profile">
            {{this.applicationDataService.usuario_logado.nombre}}
          </div>
          <div class="bottom">
          </div>
          <div class="desc"> 30 posts </div>
          <div class="desc"> 23 coments</div>
          <div class="desc"> 123 likes </div>
          <div class="bio-profile" *ngIf="this.user.bio != null && !editar_bio">
            <p>{{this.applicationDataService.usuario_logado.bio}}</p>
            <a class="btn btn-primary btn-twitter btn-sm"(click)="editBio()">
              <i class="fa fa-pencil-square-o"></i>
            </a>
          </div>
          <div class="">
            <button type="submit" class="" (click)="showHilosPropios()">Posts</button>

            <div class="table" *ngIf="hilos_propios_visible">
              <div class="table-row table-header">
                <div class="table-cell"> tittle </div>
                <div class="table-cell"> user   </div>
                <div class="table-cell"> files  </div>
                <div class="table-cell"> Added on  </div>
                <div class="table-cell"> Actions  </div>
              </div>

              <div class="table-row" *ngFor="let model of hilos_propios_array" (click)="onDetail(model)">
                <div class="table-cell"> {{model.titulo}} </div>
                <div class="table-cell"> {{model.nombre_usuario}} </div>
                <div class="table-cell"> <img class="img_muro_list" *ngIf="model.archivo != null" src="{{this.applicationDataService.ruta_a_servidor}}/images/uploads/{{model.archivo}}"> </div>
                <div class="table-cell muro-fecha"> {{model.fecha_publicacion}} </div>
                <div class="table-cell muro-actions">
                  <span><p class="count-likes">{{model.count_likes}}</p></span>
                  <span class="like">
                  <i class="fa fa-heart" (click)="like(model)" [ngClass]='{"active":applicationDataService.likes[model.id_hilo] != null}'></i>
                </span>
                  <span><i class="ti-comment"></i></span>
                  <span><i class="ti-sharethis"></i></span>
                  <span *ngIf="this.applicationDataService.usuario_logado.id_usuario== model.id_usuario"><i class="ti-trash green" (click)="onClickBorrar(model)"></i></span>
                  <span *ngIf="this.applicationDataService.usuario_logado.id_usuario == model.id_usuario"><i class="ti-pin-alt green"></i></span>
                </div>
              </div>
            </div>
          </div>


          <div class="">
            <button type="submit" class="" (click)="showFriendsPropios()">Friends</button>
            <div class="table" *ngIf="amigos_propios_visible">
            <div class="table-row table-header">
                <div class="table-cell"> profile picture </div>
                <div class="table-cell"> user   </div>
            </div>

            <div class="table-row" *ngFor="let model of amigos_propios_array" (click)="onDetail(model)">
              <div class="table-cell"> <img class="img_muro_list" *ngIf="model.imagen_perfil != null" src="{{this.applicationDataService.ruta_a_servidor}}/images/uploads/{{model.imagen_perfil}}"> </div>
              <div class="table-cell"> {{model.nombre}} </div>
              </div>
            </div>
          </div>

          <div class="bottom-profile">
          </div>
        </div>
      </div>

      <form (ngSubmit)="onSubmit()" *ngIf="editar_bio">
        <div class="form">
          <div class="form-group">
            <label>{{ 'write something about you' }}</label>
            <input type="text" class="form-control" [(ngModel)]="model.bio" name="bio" required>
          </div>
          <button *ngIf="!submitted" type="submit" class="">update bio</button>
        </div>
      </form>

      <form class="form" (ngSubmit)="onSubmitImg()" *ngIf="editar_profile_picture">
        <div class="form-container">
          <div class="form-group">
            <label>{{ 'update profile picture'}}</label>
            <div class="select select-file">
              <input (change)="onAppFotosChange($event)" type="file" ng2FileSelect [uploader]="uploader"  multiple  />
            </div>
            <button *ngIf="!submitted2" type="submit" class="" >update</button>
          </div>
        </div>
      </form>

