<!--<div class="login-page">
  <div class="centerit">
    <div>
      <div>
        <div *ngIf="error" class="message"></div>
        <div *ngIf="error_email_no_existe" class="message"> 'REGISTRO_KO_EMAIL' </div>

          <form (ngSubmit)="onSubmit()"	>
            <div class="form-container">
              <h1>Restablecer contrase&ntilde;a</h1>
              <div class="form-row">
                <input type="email" [(ngModel)]="model.email" required name="email" placeholder="Email">
              </div>
              <div class="form-row">
                <button *ngIf="! submitted" type="submit" class="btn btn-default">Restablecer contrase&ntilde;a</button>
              </div>
            </div>
          </form>
          <div class="create-account">
            <a routerLink="/form-register" routerLinkActive="active">Crear cuenta</a>
          </div>
      </div>
    </div>
  </div>
</div>-->
<div class="login-page">
  <div class="form" (ngSubmit)="onSubmit()"	>
    <form class="login-form" (ngSubmit)="onSubmit()">
      <input type="email" [(ngModel)]="model.email" required name="email" placeholder="Email">
      <button *ngIf="! submitted" type="submit" class="btn btn-default">remember password</button>
      <p class="message">Back to login <a (click)="applicationDataService.click_menu('form-login')">Sign In</a></p>
      <p class="message">Not registered? <a (click)="applicationDataService.click_menu('form-register')">Create an account</a></p>
    </form>
  </div>
</div>

<router-outlet></router-outlet>
